[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
O = "system:nodes"
C = US
CN  = "system:node:*.minio.operator.console"

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = minio.operator.console
